.blue-container {
    display: flex;
    height: 276px;
    width: 276px;
    border:1px solid black;
    background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
}

.blu-icon {
    margin-top: 240px;
    margin-left: 215px

}

.button-reedem {
    width: 182px;
    height: 42px;
    background: #DADADA;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    }